<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
  <li>
    <% unless notification.read == "true" %>
    <span><%= notification.read = "既読済み"%></span>
    <% end %>
    <p>
      <%= notification.comment.user.try(:name) %>さんが
      あなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。
    </p>
    <p>投稿時間：<%= notification.created_at %></p>
  </li>
  <% end %>
</ul>
